.portafolio {
  background-color: #1a1a1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.portafolio .div {
  background-color: #1a1a1c;
  width: 1440px;
  height: 3299px;
  position: relative;
}

.portafolio .overlap {
  position: absolute;
  width: 1440px;
  height: 1132px;
  top: 0;
  left: 0;
}

.portafolio .header {
  position: absolute;
  width: 1440px;
  height: 600px;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: url(./img/bg.png);
  background-size: auto;
  background-position: 50% 50%;
}

.portafolio .text-header {
  position: relative;
  width: 803px;
  height: 57px;
  top: 100px;
  left: 322px;
}

.portafolio .text-wrapper {
  position: absolute;
  width: 323px;
  height: 57px;
  top: 0;
  left: 237px;
  font-family: "Abhaya Libre Medium-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-2 {
  position: absolute;
  width: 237px;
  height: 57px;
  top: 0;
  left: 0;
  font-family: "Abhaya Libre Medium-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-3 {
  position: absolute;
  width: 237px;
  height: 57px;
  top: 0;
  left: 560px;
  font-family: "Abhaya Libre Medium-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .introduccion {
  position: absolute;
  width: 1260px;
  height: 875px;
  top: 257px;
  left: 94px;
}

.portafolio .overlap-group {
  position: absolute;
  width: 1252px;
  height: 610px;
  top: 0;
  left: 0;
}

.portafolio .container {
  position: absolute;
  width: 1252px;
  height: 460px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 44px;
}

.portafolio .foto-principal {
  width: 356px;
  height: 361px;
  top: 249px;
  left: 448px;
  position: absolute;
  object-fit: cover;
}

.portafolio .text-wrapper-4 {
  position: absolute;
  width: 700px;
  height: 200px;
  top: 0;
  left: 276px;
  font-family: "Coustard", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-5 {
  position: absolute;
  width: 676px;
  height: 21px;
  top: 60px;
  left: 288px;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .p {
  position: absolute;
  width: 676px;
  height: 43px;
  top: 186px;
  left: 288px;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .boton-curriculum {
  position: absolute;
  width: 270px;
  height: 59px;
  top: 630px;
  left: 492px;
}

.portafolio .div-wrapper {
  position: relative;
  width: 268px;
  height: 59px;
  background-color: #ffffff;
  border-radius: 11px;
}

.portafolio .text-wrapper-6 {
  position: absolute;
  width: 268px;
  height: 58px;
  top: 20px;
  left: 0;
  font-family: "Coustard", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .insta {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 832px;
  left: 586px;
}

.portafolio .twitter {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 832px;
  left: 629px;
}

.portafolio .whats {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 832px;
  left: 672px;
}

.portafolio .face {
  position: absolute;
  width: 48px;
  height: 43px;
  top: 832px;
  left: 538px;
}

.portafolio .text-wrapper-7 {
  position: absolute;
  width: 266px;
  height: 43px;
  top: 789px;
  left: 493px;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #fffcfc;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .portafolio {
  position: absolute;
  width: 1122px;
  height: 770px;
  top: 1926px;
  left: 160px;
}

.portafolio .portafolio-ver-mas {
  left: 0;
  position: absolute;
  width: 334px;
  height: 603px;
  top: 167px;
}

.portafolio .overlap-group-2 {
  position: absolute;
  width: 268px;
  height: 59px;
  top: 544px;
  left: 30px;
  background-color: #ffffff;
  border-radius: 11px;
}

.portafolio .foto-portafolio {
  width: 330px;
  height: 429px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.portafolio .texto-portafolio {
  position: absolute;
  width: 266px;
  height: 43px;
  top: 469px;
  left: 32px;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #fffcfc;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .portafolio-ver-mas-2 {
  left: 395px;
  position: absolute;
  width: 334px;
  height: 603px;
  top: 167px;
}

.portafolio .overlap-2 {
  position: absolute;
  width: 268px;
  height: 59px;
  top: 544px;
  left: 31px;
  background-color: #ffffff;
  border-radius: 11px;
}

.portafolio .portafolio-ver-mas-3 {
  left: 790px;
  position: absolute;
  width: 334px;
  height: 603px;
  top: 167px;
}

.portafolio .overlap-3 {
  position: absolute;
  width: 268px;
  height: 59px;
  top: 544px;
  left: 32px;
  background-color: #ffffff;
  border-radius: 11px;
}

.portafolio .text-wrapper-8 {
  position: absolute;
  width: 331px;
  height: 67px;
  top: 0;
  left: 395px;
  font-family: "Coustard", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .sobre-m {
  position: absolute;
  width: 1256px;
  height: 597px;
  top: 1229px;
  left: 94px;
}

.portafolio .foto-sobre-mi {
  position: absolute;
  width: 400px;
  height: 597px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.portafolio .sobre-mi-leer-mas {
  position: absolute;
  width: 270px;
  height: 59px;
  top: 498px;
  left: 500px;
}

.portafolio .text-wrapper-9 {
  position: absolute;
  width: 229px;
  height: 49px;
  top: 0;
  left: 500px;
  font-family: "Coustard", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.portafolio .texto-sobre-mi {
  position: absolute;
  width: 752px;
  height: 369px;
  top: 89px;
  left: 500px;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #fffcfc;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .footer {
  position: absolute;
  width: 1440px;
  height: 503px;
  top: 2796px;
  left: 0;
  background-color: #000000;
}

.portafolio .footer-content {
  position: absolute;
  width: 720px;
  height: 312px;
  top: 91px;
  left: 555px;
}

.portafolio .footer-contact {
  position: absolute;
  width: 316px;
  height: 167px;
  top: 9px;
  left: 0;
}

.portafolio .text-wrapper-10 {
  position: absolute;
  width: 308px;
  height: 21px;
  top: 0;
  left: 0;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #989898;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-11 {
  position: absolute;
  width: 236px;
  height: 21px;
  top: 40px;
  left: 0;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #989898;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-12 {
  position: absolute;
  width: 224px;
  height: 21px;
  top: 93px;
  left: 0;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #989898;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-13 {
  position: absolute;
  width: 111px;
  height: 21px;
  top: 146px;
  left: 0;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #989898;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .footer-links {
  position: absolute;
  width: 329px;
  height: 169px;
  top: 0;
  left: 395px;
}

.portafolio .overlap-group-3 {
  position: absolute;
  width: 323px;
  height: 112px;
  top: 0;
  left: 0;
}

.portafolio .text-wrapper-14 {
  position: absolute;
  width: 323px;
  height: 57px;
  top: 55px;
  left: 0;
  font-family: "Abhaya Libre Medium-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-15 {
  position: absolute;
  width: 237px;
  height: 57px;
  top: 0;
  left: 0;
  font-family: "Abhaya Libre Medium-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .text-wrapper-16 {
  position: absolute;
  width: 237px;
  height: 57px;
  top: 112px;
  left: 0;
  font-family: "Abhaya Libre Medium-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .footer-copy {
  position: absolute;
  width: 308px;
  height: 36px;
  top: 276px;
  left: 395px;
  font-family: "Alata", Helvetica;
  font-weight: 400;
  color: #989898;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.portafolio .img {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 175px;
  left: 281px;
}

.portafolio .twitter-2 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 175px;
  left: 324px;
}

.portafolio .whats-2 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 175px;
  left: 367px;
}

.portafolio .face-2 {
  position: absolute;
  width: 48px;
  height: 43px;
  top: 175px;
  left: 233px;
}
